$theme-colors: (
  "secondary": #2a5555,
  "light": #f8f9fa,
  "success": #28a745,
  "dark": #343a40,
  "warning": #ffc107,
  "danger": #dc3545,
  
  "primary": #007bff,
  "info": #17a2b8
);

body {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: 'arial' !important;
  font-size: 16px !important;
}

@import 'bootstrap';
