.detail_template_label {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: start;
    padding-right: 0px;
}

.componenttBsKslbsBV {
    border-top: 0px;
    padding-top: 32px;
    border-right: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column;
    border-left: 0px;
    width: 12px;
    margin-top: 0px;
    justify-content: start;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 720px;
}

.componentavDUZubDnh {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    margin-top: 0px;
    justify-content: start;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 100vh;
}

.dram_rubber {
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.detailtemplate {
}

