.navbartemplate {
}

.componentJhIiFfsMZS {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #ffffff;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 56px;
}

