.gettheappnow {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    flex-direction: column;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 100%;
}

.copyright {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: 324;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    height: fit-content;
    color: #ffffff80;
}

.ram_heuristic {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    flex-direction: column;
    border-left: 0px;
    width: 6 grid;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 175px;
}

.enteranewage {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #f5f5f5;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 400px;
}

.male_distributed {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 50px;
}

.architect_southwest {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 80px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column;
    border-left: 0px;
    width: 7 grid;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 410px;
}

.cheese_negligible {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 500px;
    border-left: 0px;
    width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 303px;
    border-radius: 50%;
}

.account_franc {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #474747;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 231;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    height: 49px;
    
}

.connect_squares {
    border-top: 0px;
    padding-top: 10px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    flex-direction: column;
    border-left: 0px;
    width: 6 grid;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 175px;
}

.cob_payment {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: -142px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 50px;
}

.mini_robust {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 50px;
}

.tandem_table {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: fit-content;
}

.newage {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 50px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-right: 50px;
    height: 98%;
}

.ascii_program {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 50px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 50px;
    flex-direction: column;
    border-left: 0px;
    width: 5 grid;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 300px;
}

.macedonia_utah {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 25px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    height: 0;
    
}

.stopwaitinggradient {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #00000080;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: start;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 410px;
    background: #00000080;
}

.arkansas_south {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #474747;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 195px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    height: 28px;
    
}

.stopwaiting {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: start;
    align-items: scretch;
    background-image: url("https://images.unsplash.com/photo-1620912189865-1e8a33da4c5e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY4MTg1MDA1Ng&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1500");
    margin-bottom: 0px;
    padding-right: 0px;
    height: 410px;
}

.electronic_avon {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    flex-direction: column;
    border-left: 0px;
    width: 6 grid;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 175px;
}

.that_card {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 57%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: start;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 357px;
}

.neptunium_north {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 50px;
}

.circle {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #474747;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 82%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    height: fit-content;
    
}

.handcrafted_concrete {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #262626;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: 28px;
    
}

.tnwrow {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    flex-direction: column;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 300px;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
}

.hollow_deliverables {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    border-left: 0px;
    width: 5 grid;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 350px;
}

.white_small {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 6 grid;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 330px;
}

.button {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: fit-content;
    overflow-x: auto;
    margin-top: 20px;
    overflow-y: auto;
    justify-content: start;
    align-items: stretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 60px;
}

.newagetemplate {
}

.prior_wooden {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 80px;
}

.southwest_dollar {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 50px;
}

.corporate_jbod {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 20px;
    font-size: 25px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 266px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.customer_wrongly {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 20px;
    font-size: 40px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.luxurious_trigender {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 60px;
}

.showcaselabel {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 50px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 450px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.green_unbranded {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 203px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    height: fit-content;
    
}

.salmon_senior {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 50%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 100%;
}

.berkshire_magenta {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 80%;
}

.sendfeedback {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #ffffff;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 40px;
    border-radius: 20px;
}

.ziggurat_male {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 60px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column;
    border-left: 0px;
    width: 50%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 100%;
}

.launch {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #4a4a4a;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 387px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.devicemockups {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 0px;
    height: 400px;
}

.gasoline_fuchsia {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #262626;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.licensed_orchestrator {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 76px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 67px;
}

.menu {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 748px;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: space-between;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 60px;
}

.intuitive {
    padding-top: 0px;
    border-right: 0px;
    color: #ffffff;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    border-left: 0px;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.grotesque_indigo {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 50px;
}

.joule_elegant {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    height: fit-content;
}

.pennsylvania_frozen {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #000000;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 138px;
}

.streamline_benchmark {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    flex-direction: column;
    border-left: 0px;
    width: 6 grid;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 175px;
}

.showcase {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #f8f9fa;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: space-evenly;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 700px;
}

.buttondownload {
    border-top: 1px;
    padding-top: 0px;
    border-right: 1px;
    color: #ffffff;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 1px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #002eb200;
    border-left: 1px;
    width: 160px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 50px;
    border: 1px solid #f8f9fa; border-radius: 20px; 
}

.or_generate {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #262626;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: start;
    padding-right: 0px;
    height: 28px;
    
}

.webtext {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 344px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.getappnow {
    border-top: 0px;
    padding-top: 10px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #6610f2;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 200px;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
}

.phoneimage {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 100%;
}

.krone_harness {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #262626;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

