.from_soft {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    flex-direction: row;
    border-left: 0px;
    width: 780px;
    overflow-x: auto;
    margin-top: 50px;
    overflow-y: auto;
    justify-content: start;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 0null;
    border-radius: 10px;
}

.image {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 6%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: start;
    align-items: scretch;
    background-image: url("https://images.unsplash.com/photo-1517519014922-8fc06b814a0e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY4MTg1MDA1MA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=600");
    margin-bottom: 0px;
    padding-right: 0px;
    height: 500px;
    background-position: center; background-size: 100%; background-repeat: no-repeat;
}

.forgotpasswordlabel {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #3a3b45;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.passwordlabeltext {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #858796;
    padding-left: 0px;
    padding-bottom: 10px;
    font-size: 10px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: 205px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 10px;
    height: fit-content;
    
}

.accountrow {
    border-top: 1px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column;
    border-left: 0px;
    width: 90%;
    overflow-x: auto;
    margin-top: 25px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 80px;
    border-top: 1px solid #33333366;
}

.inputemail {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 10px;
    border-left: 0px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: fit-content;
    border-radius: 10px;
}

.passwordtemplate {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 100vh;
}

.createanaccountlabel {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #4e73df;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.haveanaccountlabel {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #4e73df;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: fit-content;
    
}

.content {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    flex-direction: column;
    border-left: 0px;
    width: 6%;
    overflow-x: auto;
    margin-top: 0px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 477px;
}

.buttonresetpassword {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #ffffff;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: ;
    border-left: 0px;
    width: 294px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 35px;
    border-radius: 20px;
}

