.settingstemplate {
}

.componentIlkxcvWIwZ {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 70px;
}

.componentvDeJvrfTde {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #e9ecef;
    flex-direction: column;
    border-left: 0px;
    width: 3px;
    margin-top: 0px;
    justify-content: start;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 720px;
}

.componentUNfYwTjIpx {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #1e00ff;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
}

.componentcdXXchtTjI {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 70px;
}

.componentgJslehAQsi {
    border-top: 0px;
    padding-top: 32px;
    border-right: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column;
    border-left: 0px;
    width: 9px;
    margin-top: 0px;
    justify-content: start;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 720px;
}

.componentpFgzuWaQTA {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: 50px;
}

.componentEgVyPaTWAn {
    margin-left: 0px;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.componentRbfHVbDaYW {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    margin-top: 0px;
    justify-content: start;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 720px;
}

.componentkqQmZiDdkx {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
}

.componentlLyHAPbOgg {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 0px;
    justify-content: start;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 59px;
}

.componentFbjclOurPo {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 70px;
}

.componentkDoNdVWrIu {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 32px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 70px;
}

.componentirtAbqyilv {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
}

.componentfCIXYajAPx {
    margin-left: 0px;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-right: 0px;
}

