.settingstemplate {
}

.componentoTdXOnnsIE {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
    height: 50px;
}

.componentrLsZraJRwd {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #e9ecef;
    flex-direction: column;
    border-left: 0px;
    width: 3px;
    margin-top: 0px;
    justify-content: start;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 720px;
}

.componentNvzenywprC {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 32px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 70px;
}

.componentzSvsnxQNnn {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 70px;
}

.componentBUzbwatUZj {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 70px;
}

.componentlqbxQyybHE {
    border-top: 0px;
    padding-top: 32px;
    border-right: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column;
    border-left: 0px;
    width: 9px;
    margin-top: 0px;
    justify-content: start;
    align-items: start;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 720px;
}

.componentptXbiBMbVL {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    color: #1e00ff;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
}

.componentffclfAOubF {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
    border-left: 0px;
    width: 100%;
    margin-top: 0px;
    justify-content: start;
    align-items: scretch;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 720px;
}

.componentuBypisnrDQ {
    margin-left: 0px;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.componentyqdanSwoeD {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 70px;
}

.componentxAyoArPPfn {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    width: 475px;
    margin-top: 0px;
    justify-content: start;
    align-items: center;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 59px;
}

.componentoqzyvBntHN {
    margin-left: 0px;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.componentmntEuabiPE {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
}

.componentfXCbJgFglU {
    border-top: 0px;
    padding-top: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: start;
    padding-right: 0px;
}

